html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  margin: 0;
}

button {
  background-color: #ededed;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  filter: brightness(94%);
}